.homeSlide h1{
    font-size: 45px !important;

}
.homeSlide p{
    margin:  20px 0 !important;
}
.homeSlide ul{

    position: absolute;
    bottom: 20px;
}

.homeSlide ul li{
    border:  2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}

.homeSlide ul li button{
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li button::before{
    font-size: 15px;
    color: #0f3460;
    position: absolute;
    top: 1.5px;
    left: 0;
    margin: auto;
}

.top{
    margin-top: 60px;
}

.homeSlide {
    display: flex !important;
    align-items:center;
}
.homeSlide .box .left{
    width: 60%;
    padding: 5px;
}
.homeSlide .box .right{
    width: 40%;
    padding: 10px;
}
.homeSlide .box img{
    width: 100%;
    height: 100%;
    /* padding: 20px; */
}

.cta-slider{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}



.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main__btn {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    /* background: #4FD1C5; */
    background: #F54B64;
  background: linear-gradient(90deg, rgb(246, 155, 133) 0%, rgb(224, 73, 73) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(209, 96, 79, 0.392);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
    .main__btn::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 2px solid #F54B64;
    box-shadow: 0 0 60px rgba(255, 51, 0, 0.26);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .main__btn:hover, .button:focus {
    color: #fdfdfd;
    transform: translateY(-6px);
  }
  
  .main__btn:hover::before, .main__btn:focus::before {
    opacity: 1;
  }
  
  .main__btn::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 2px solid #F54B64;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .main__btn:hover::after, .main__btn:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }